<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appSettings>
        <add key="VIRTUAL_DIR_PATH" value="/vortex-api" />
    </appSettings>
    <system.webServer>
        <handlers>
            <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
        </handlers>
        <rewrite>
            <rules>
                <rule name="Debug" patternSyntax="Wildcard" stopProcessing="true">
                    <match url="server.js/debug*" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="None" />
                </rule>                
                <rule name="all">
                    <match url=".*" />
                    <action type="Rewrite" url="server.js" />
                </rule>
            </rules>
        </rewrite>
        <httpErrors existingResponse="PassThrough" />
        <iisnode watchedFiles="*.js;config\*.js;iisnode.yml" debuggerExtensionDll="iisnode-inspector.dll" />
    </system.webServer>
</configuration>
